/build/
/.idea/
/.vscode/
*.user
*.launch
*.o
*.d
*.elf
*.hex
*.bin
cloud/.env
cloud/mosquitto/data/
cloud/mosquitto/log/
cloud/mosquitto/certs/*.key
cloud/mosquitto/certs/*.crt
cloud/mosquitto/certs/*.csr
cloud/mosquitto/passwords
cloud/node-red/data/

# Keil MDK 构建产物（SmartLock.uvprojx 的 Rebuild 输出）
/obj/
/listings/
/DebugConfig/
*.uvoptx
*.uvguix.*
*.dep
*.crf
*.lnp
*.axf
*.build_log.htm
build_keil.log
